xsd/verigraph.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2017 Politecnico di Torino and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Apache License, Version 2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="functionalTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FIREWALL" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="node">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="configuration" maxOccurs="1"
                    minOccurs="0" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="functional_type" type="functionalTypes" use="optional" />
        </xsd:complexType>

    </xsd:element>
    <xsd:element name="neighbour">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="configuration">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="firewall" />
            </xsd:choice>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string"
                use="required" />
            <xsd:attribute name="description" type="xsd:string"
                use="optional" />
        </xsd:complexType>
    </xsd:element>
        <xsd:element name="firewall">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="elements" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
             <xsd:attribute name="defaultAction" type="ActionTypes"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="elements">
        <xsd:complexType>
            <xsd:sequence>
             	<xsd:element name="id" type="xsd:long" minOccurs="0" />
                <xsd:element name="action" type="ActionTypes" minOccurs="0" default="DENY"/>
                <xsd:element name="source" type="xsd:string"/>
                <xsd:element name="destination" type="xsd:string" />
                <xsd:element name="protocol" type="L4ProtocolTypes" minOccurs="0" default="ANY"/>
                <xsd:element name="src_port" type="xsd:string" minOccurs="0"/>
                <xsd:element name="dst_port" type="xsd:string" minOccurs="0"/>
                <xsd:element name="priority" type="xsd:string" minOccurs="0" default="*"/>
                <xsd:element name="directional" type="xsd:boolean" minOccurs="0" default="true"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ActionTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALLOW" />
            <xsd:enumeration value="DENY" />
            <xsd:enumeration value="ALLOW_COND" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="L4ProtocolTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ANY" />
            <xsd:enumeration value="TCP" />
            <xsd:enumeration value="UDP" />
            <xsd:enumeration value="OTHER" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>